@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Oxygen", sans-serif;
}




.container{
    
    width: 100%;
    margin: auto;
    padding: 20px;
    color: #fff;
}

.inicio_cont .inicio_info{
    text-align: center;
}
.inicio_cont .inicio_info h1{
    font-size: 80px;
    margin: 50px;
}
h2{
    margin: 50px;
    font-size: 40px;
}


.typescript{
    font-size: 50px;
    color: crimson;
    padding: 30px;
    font-weight: bold;
    text-align: center;
    
}
.red_social{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 50px auto;
    font-size: 30px;
    cursor: pointer;

}

.red_social .icon{
font-size: 30px;
    transition: all .3s ease-in-out;
    margin: 20px;
    font-weight: bolder;
}


.red_social .icon:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 960px) {
    h1{
        font-size: 50px;
    }

    .red_social{
        width: 50%;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .typescript{
        font-size: 30px;
        color: crimson;
        padding: 20px;
        font-weight: bold;
    
    }
    h1{
        font-size: 50px;
    }

    h2{
        margin: 30px;
        font-size: 30px;
    }
}
