@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&family=Oxygen:wght@300;400;700&display=swap');

.container{
    height: 100vh;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    align-items: center;
    color: #fff;
    

}

h1{
    
    font-size: 80px;
    
}

.typescript{
    font-size: 50px;
    color: crimson;
    padding: 20px;
    font-weight: bold;

}

.red_social{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 20px auto;
    font-size: 30px;
    cursor: pointer;

}

.red_social .icon{
font-size: 30px;
    transition: all .3s ease-in-out;
    margin: 20px;
    font-weight: bolder;
}

.red_social .icon:hover {
   
    transform: scale(1.5);
}

@media screen and (max-width: 960px) {
    h1{
        font-size: 50px;
    }

    .red_social{
        width: 50%;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .typescript{
        font-size: 30px;
        color: crimson;
        padding: 20px;
        font-weight: bold;
    
    }
}
