@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&family=Oxygen:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Oxygen", sans-serif;
}

h1 {
    text-align: center;
}

.content{
    padding: 20px 0;
}
.proyecto {
    border: 1px solid #fff;
    width: 70%;
    margin: 20px auto;
    transition: all .3s ease-in-out;
}

.proyecto:hover{
    background: #000;
}


.title{
    font-size: 30px;
    padding: 20px;
}

.informacion {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.imagen {
    width: 100px;
}

.imagen img {
    width: 100%;
}

.info{
    font-size: 20px;
    margin: auto 20px;
}


.enlace {
    margin: auto 20px;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

a{
    text-decoration: none;
}




@media screen and (max-width: 960px) {
    .content .content-proyects h1 {
        font-size: 50px;
    }

    .title{
        text-align: center;
    }

    .informacion{
        display: block;
        text-align: center;
    }

    .informacion .imagen{
        
        margin: auto;
    }

    .info{
        
        margin: 20px;
    }
    
}