@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&family=Oxygen:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    color: #fff;
    background: #222;
    height: 100vh;
    font-family: 'Oxygen', sans-serif;
}

.content .content-proyects{
    width: 80%;
    margin: auto;
}

.content .content-proyects h1{
    text-align: center;
    padding: 50px;
    font-size: 80px;
}
.content .content-proyects .cont-proyectos{
    border: 1px solid #fff;
    padding: 20px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.content .content-proyects .cont-proyectos:hover{
    background: black;
}

.cont-proyectos h3{
    font-size: 30px;
    margin:0px 20px;
}

.enlace{
    
    color: #fff;
    text-decoration: none;
    
}



.cont-proyectos .cont{
    display: flex;
    margin: 20px;
}

.cont-proyectos .cont .imagen{
    width: 100px;
    margin-right: 20px;
}

.cont-proyectos .cont .imagen img{
    width: 100%;
}

@media screen and (max-width: 960px) {
    .content .content-proyects h1{
        font-size: 50px;
    }

    
.cont-proyectos h3{
    font-size: 20px;
    margin:0px 20px;
}
}
