@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&family=Oxygen:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Oxygen", sans-serif;
}
.content_me{
    height: 100vh;
    width: 100%;
    margin: auto;
    color: #fff;
    text-align: center;
    align-items: center;
}

.content_me h1{
    padding-top: 50px;
}


.content_me__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    border: 1px solid#fff;
    padding: 20px;
    transition: all .3s ease-in-out;
}

.content_me__info:hover{
    border: 1px solid red;
}

.imagen_me{
    width: 150px;
}

.imagen_me img{
    width: 100%;
}

.info__me{
    font-size: 25px;
    padding: 10px;
    
}

@media screen and (max-width: 960px) {

    .content_me{
        height: 100%;
        padding: 20px;
    }
    .content_me__info{
        display: block;
        
    }

    .imagen_me{
        margin: auto;
    }

    .info__me{
        font-size: 20px;
        background: none;
        padding: 10px;
        text-align: center;
    }
}
